<!DOCTYPE html>
<html lang="en" ng-app="ClothMaker">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ClothMaker Shop</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/font-icons.css" />
</head>
<body ng-controller="shopController">

  <header>
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand">ClothMaker Shop</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <div class="col-md-6">
      <div ng-repeat="product in catalogue">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-category">{{ product.category }}</p>
        <p class="product-price">£{{ product.price.toFixed(2) }}</p>
        <span ng-show="isDiscounted(product)">
            <h4>this item is discounted</h4>
        </span>
        <span ng-hide="isOutOfStock(product)">
            <ngcart-addtocart class="add-to-cart" id="{{ product.id }}" name="{{ product.name }}" price="{{ product.price }}" quantity="1" quantity-max = "{{ product.quantity }}" ng-click="setCategory(product.id, product.category)">Add to Cart</ngcart-addtocart>
        </span>
        <h4 class="out-of-stock" ng-show="isOutOfStock(product)">item out of stock</h4>
      </div>
    </div>
  </main>

  <div class="row">
    <div class="col-md-6">
      <h1>Your Cart</h1>
        <ngcart-cart></ngcart-cart>
          <hr>
            <ul class="discount-buttons">
              <li><button class="btn btn-primary" id="off-order-discount" ng-click="isEligible($event)">Apply for an off-order discount</button></li>
                  <p>Note: this discount is applicable if you've made at least one order</p>
              <li><button class="btn btn-primary" id="10£-discount" ng-click="isEligible($event)">Apply for a 10£ discount</button></li>
                  <p>Note: this discount is applicable if your order is more than 50£</p>
              <li><button class="btn btn-primary" id="15£-discount" ng-click="isEligible($event)">Apply for a 15£ discount</button></li>
                  <p>Note: this discount is applicable if your order is more than 75£ and you have chosen at least one footwear item</p>
            </ul>
        <h4 id="not-eligible" ng-show="notEligible">This discount is not eligible</h4>

        <!-- ngcart-checkout is making a post request to '/checkout', sending the cart data to the server -->
        <ngcart-checkout service="http" settings="{ url:'/checkout' }">Checkout</ngcart-checkout>
      </div>
    </div>

  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="angular/angular.js"></script>
  <script type="text/javascript" src="ngcart/dist/ngCart.js"></script>
  <script type="text/javascript" src="js/angularApp.js"></script>
  <script type="text/javascript" src="js/polyfill.js"></script>
</body>
</html>
